#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  overscroll-behavior: none;
  min-height: 100vh;
}

main {
  display: grid;
  place-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-title {
  font-size: 0.8rem;
  color: #94a3b8;
  cursor: default;
}

h1 {
  position: relative;
  font-size: clamp(13vw, 13.5vw + 1rem, 14vw);
  letter-spacing: 0.4rem;
  font-weight: 900;
  color: #0f172a;
  cursor: default;
  user-select: none;
}

.triangle {
  position: absolute;
  top: 40%;
  right: 48%;
  width: 300px;
  height: 300px;
  background: #f8fafc;
  transform-origin: top;
  opacity: 0.8;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  animation: 5s spotlight linear infinite alternate;
  animation-delay: 3s;
}

a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #0f172a;
  text-decoration: none;
  font-size: 1rem;
}

button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 3px;
  padding: 0.5rem 0.95rem;
  border: 1px solid #0f172a;
  background-color: transparent;
  color: #0f172a;
  cursor: pointer;
}

button span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

@keyframes spotlight {
  0%,
  100% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(90deg);
  }
}

body.light {
  background-color: #f8fafc;
}

.body.dark {
  background-color: #0f172a;
}

.dark h1 {
  color: #f8fafc;
}

.dark button {
  color: #f8fafc;
  border: 1px solid #f8fafc;
}

.dark a {
  color: #f8fafc;
}

.dark .triangle {
  opacity: 0.1;
}
